PyQt5 -- https://pypi.org/project/PyQt5/
pyvisa -- https://pyvisa.readthedocs.io/en/latest/introduction/index.html
matplotlib --- https://matplotlib.org/stable/index.html
numpy --- https://numpy.org/install/
